@import "tailwindcss";

@layer base {
  button {
    cursor: pointer;
    @variant disabled {
      cursor: auto;
    }
  }

  img {
    object-fit: cover;
    object-position: center;
  }

  .button {
    outline: none;
  }
}
