@import "tailwindcss";

@import "../core/styles/system-design.css";
@import "../shared/styles/style.css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-poppins: var(--font-poppins);
  --font-raleway: var(--font-raleway);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-raleway), var(--font-poppins), var(--font-geist-sans);
}

.app-layout {
  display: grid;
  grid-template-areas:
    "side nav nav"
    "side main main"
    "side foot foot";
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto 1fr auto;

  @variant [&>main] {
    grid-area: main;
  }
  @variant [&>.sidebar] {
    grid-area: side;
  }
  @variant [&>.app-bar] {
    grid-area: nav;
  }
  @variant [&>footer] {
    grid-area: foot;
  }
}
